.banner_wrapper{
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.slick-arrow{
    background: none;
    border: none;
    outline: none;
    position: absolute;
    background-image: url(../img/banner/slick-arrow.svg);
    background-size: cover;
    width: 2%;
    height: 11%;
    color: transparent;
    cursor: pointer;
    top: 45%;
    z-index: 1;
}

.slick-prev{
    left: 65px;
}
.slick-next{
    right: 65px;
    transform: rotate(180deg);
}

.slick-dots{
    position: absolute;
    bottom: 18px;
    left: 50%;
    display: flex;
}
.slick-dots li{
    width: 8.12px;
    height: 8.12px;
    border-radius: 50%;
    background: #6C6C6C;
    border: none;
    outline: none;
    list-style: none;
}
.slick-dots li button{
    display: none;
}
.slick-dots li:not(:last-child){
    margin-right: 10px;
}
.slick-dots .slick-active{
    background: #F5F5F5;
}